button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin: 10px;
    min-height: 30px;
    font-size: 14px;
    padding: 8.5px 18px;
    gap: 10px;
}
button:active {
    top: 1px;
}

button.filled {
    background: var(--color);
    color: var(--accent-text);
    box-shadow:  0px 0px 20px -15px rgba(var(--color-r), var(--color-g), var(--color-b), 0.4);
    transition: 0.5s box-shadow;
}
button.filled:hover {
    background: var(--color-hover);
}
button.filled.glow:hover {
    background: var(--color);
    box-shadow:  0px 0px 20px 5px rgba(var(--color-r), var(--color-g), var(--color-b), 0.4);
}

button.transparent {
    background: var(--color-transparent);
    color: var(--color);
}
button.transparent:hover {
    background: var(--color-transparent-hover);
}

button.outline {
    color: var(--color);
    border: 1px var(--color) solid;
    background: none;
}
button.outline:hover {
    background: rgba(var(--color-r), var(--color-g), var(--color-b), 0.05);
}

button.subtle {
    background: none;
    color: var(--color);
}
button.subtle:hover {
    background: rgba(var(--color-r), var(--color-g), var(--color-b), 0.1);
}

button.xs {
    font-size: 12px;
    padding: 7px 14px;
    gap: 7px;
}
button.sm {
    font-size: 14px;
    padding: 9px 18px;
    gap: 9px;
}
button.md {
    font-size: 16px;
    padding: 10.25px 22px;
    gap: 11px;
}
button.lg {
    font-size: 18px;
    padding: 13px 26px;
    gap: 13px;
}
button.xl {
    font-size: 20px;
    padding: 16.5px 32px;
    gap: 16px;
}

button.icon {
    padding: 9px !important;
}
button.icon.xs {
    padding: 7px !important;
}
button.icon.sm {
    padding: 9px !important;
}
button.icon.md {
    padding: 10.25px !important;
}
button.icon.lg {
    padding: 13px !important;
}
button.icon.xl {
    padding: 16.5px !important;
}

button > svg {
    height: 20px;
}