input[type=range] {
    appearance: none;
    background-color: #D9D9D9;
    height: 5px;
    position: relative;
    border-radius: 100px;
    border: none;
}
input[type=range]::-moz-range-progress {
    background-color: var(--color);
    height: 5px;
    border-radius: 100px 0 0 100px;
}
input[type=range]::-moz-range-thumb {
    background-color: white;
    outline: 1px solid var(--color);
    border: 2px solid var(--color);
    border-radius: 100px;
    height: 7px;
    width: 7px;
    transition: 0.25s border ease, 0.25s height ease, 0.25s width ease;
}
input[type=range]::-moz-range-thumb:hover {
    border: 3px solid var(--color);
    height: 5px;
    width: 5px;
}